echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.ll" >> .gitignore
echo "*.exe" >> .gitignore
echo "*.nv.ll" >> .gitignore
echo "*.nv.exe" >> .gitignore
echo ".venv/" >> .gitignore
echo "venv/" >> .gitignore